<section quiz-container>
  <div class="horizontal-buttons">
    <h3 style="margin: 0em;">Quiz</h3>
    <fa-icon
      style="color: var(--red)"
      [icon]="faTimes"
      (click)="close()"
    ></fa-icon>
  </div>
  <div class="quiz-prepare-div" *ngIf="!showQuiz">
    <div>
      <span>Number of cards: </span>
      <input type="text" [formControl]="numCards" />
    </div>
    <div>
      <span>Pick tags</span>
      <tag (click)="removeTag(tag)" *ngFor="let tag of tags" [tag]="tag"></tag>
    </div>
    <button class="green" (click)="randomizeQuestions()">Start Quiz!</button>
  </div>
  <div class="card-answer-div" *ngIf="showQuiz">
    <flashcard [flashcard]="currentQuestion!"></flashcard>

    <div class="answer-div">
      <input id="answer" type="text" [formControl]="answer" />
      <button class="green" id="nextQuestion" (click)="onSubmitAnswer()">{{buttonLabel}}</button>
    </div>
  </div>
</section>
