<section class="card-container">
  <div class="card-header">
    <span class="card-title">{{flashcard.question}}</span>
    <div class="button-container">
      <fa-icon id="mod-button" [icon]="faEdit" (click)="modificationEvent()"></fa-icon>
      <fa-icon id="del-button" [icon]="faTrash" (click)="deletionEvent()"></fa-icon>
    </div>
  </div>

  <div class="card-body">
    <p>{{flashcard.description}}</p>
  </div>

  <div class="card-tags">
    <tag *ngFor="let tag of cardTags" [tag]="tag"></tag>
  </div>
</section>
