.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20em;
    height: 10em;

    background-color: var(--backgroundLight);
    border-radius: 1em;
    border: 0.1em solid var(--foreground);
    padding: 1em;
}

.card-container > * {
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container > fa-icon {
    padding: 0;
    margin: 0.2em;
}

#mod-button {
    color: var(--yellow) !important;
}

#del-button {
    color: var(--red) !important;
}

.card-title {
    font-weight: bold;
}

.card-body {
    text-align: center;
}

.card-tags > button {
    border: .2em double var(--backgroundLighter);
    text-align: center;
    border-radius: 1em;
    background-color: var(--purple);
    height: fit-content !important;
    width: fit-content !important;

    float: right;
    margin: 0.2em;
}