@keyframes onLoad {
    0% { 
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-animation {
    animation: 1s ease-in-out 0s 1 onLoad;
}

#card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20em;
    height:fit-content;

    background-color: var(--backgroundLight);
    border-radius: 1em;
    border: 0.1em solid transparent;
    transition: 0.5s;
    padding: 1em;
}

#card-container:hover {
    border: 0.1em solid var(--foreground);
}

#card-container > * {
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.button-container > fa-icon {
    padding: 0;
    margin: 0.2em;
}

#mod-button {
    color: var(--yellow) !important;
    cursor: pointer;
}

#del-button {
    color: var(--red) !important;
    cursor: pointer;
}

.card-title {
    font-weight: bold;
    max-width: fit-content;
    overflow: auto;
}

.card-difficulty {
    font-weight: bold;
}

.card-body {
    text-align: center;
    /* overflow: auto; */
    overflow: auto;
}

.card-tags > button {
    border: .2em solid rgba(0, 0, 0, 0.226);
    text-align: center;
    border-radius: 1em;
    background-color: var(--purple);
    height: fit-content !important;
    width: fit-content !important;

    float: right;
    margin: 0.2em;
}

.card-answer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
}

.card-title::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 2px;
}
  
/* Track */
.card-title::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
.card-title::-webkit-scrollbar-thumb {
    background: var(--backgroundLight);
    border-radius: 5px;
    border: 1px solid #3A3D41;
}
  
/* Handle on hover */
.card-title::-webkit-scrollbar-thumb:hover {
    background: var(--backgroundLighter);
    cursor: pointer !important;
}

.card-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 2px;
}
  
/* Track */
.card-body::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
.card-body::-webkit-scrollbar-thumb {
    background: var(--backgroundLight);
    border-radius: 5px;
    border: 1px solid #3A3D41;
}
  
/* Handle on hover */
.card-body::-webkit-scrollbar-thumb:hover {
    background: var(--backgroundLighter);
    cursor: pointer !important;
}

.card-answer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 2px;
}
  
/* Track */
.card-answer::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
.card-answer::-webkit-scrollbar-thumb {
    background: var(--backgroundLight);
    border-radius: 5px;
    border: 1px solid #3A3D41;
}
  
/* Handle on hover */
.card-answer::-webkit-scrollbar-thumb:hover {
    background: var(--backgroundLighter);
    cursor: pointer !important;
}

.card-tags::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    padding: 2px;
}
  
/* Track */
.card-tags::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
.card-tags::-webkit-scrollbar-thumb {
    background: var(--backgroundLight);
    border-radius: 5px;
    border: 1px solid #3A3D41;
}
  
/* Handle on hover */
.card-tags::-webkit-scrollbar-thumb:hover {
    background: var(--backgroundLighter);
    cursor: pointer !important;
}