#container-div {
    display: flex;
    gap: 1em;
    align-content: center;
    justify-content: flex-end;
    flex-direction: row;
    height: auto;
}

.custom-select select {
    background-color: var(--backgroundLight);
    color: var(--foreground);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px transparent;
    transition: 0.5s;
}


#container-div .search-by {
    position: relative;
    top: 50%;
    transform: translateY(25%)
}

input {
    background-color: var(--backgroundLight);
    color: var(--foreground);
    width: 50%;
    border: solid 1px transparent;
    /* resize: none; */
    
    padding: 10px;
    border-radius: 5px;

    transition: 0.5s; 
}

input:hover, .custom-select select:hover {
    border: solid 1px white;   
}