<title>{{title}}</title>

<create-card (closeEvent)="closeEventHandler($event)" id="card-creation" *ngIf='globalData.selectedCard || this.createCard' [card]='globalData.selectedCard'></create-card>
<search-card (closeEvent)="closeEventHandler($event)" id="card-search" *ngIf='searchCard'></search-card> 
<create-deck (closeEvent)="closeEventHandler($event)" id="deck-creation" *ngIf='this.createDeck'></create-deck>
<div *ngIf='globalData.viewDeckCards'>
  <h2>Deck name: {{globalData.selectedDeck?.name}} </h2>
  <div class="cards-container">
    <flashcard *ngFor="let card of globalData.selectedDeck?.cards" [flashcard]="card" ></flashcard>
  </div>
</div>

<app-inicio (modCardEvent)="onModify($event)" ></app-inicio>
<div class="vertical-menu">

  <button class="green" (click)='newCardMenu(true)'>New card</button>
  <button class="blue" (click)='searchCardMenu()'>Search card</button>
  <button class="green" (click)='createDeckMenu()'>New deck</button>

  <input hidden type="file" #uploader (change)="importDeck($event)"/>
  <button class="greenyellow" (click)="uploader.click()">
    Import
  </button>

  <button class="blue" (click)='exportDeck()'>Export</button>
  <button>Stats</button>
  <button>Quiz</button>
</div>



<!-- Footer -->
<footer>

</footer>

<router-outlet></router-outlet>
