<title>{{title}}</title>


<create-card (closeEvent)="closeEventHandler($event)" id="card-creation" *ngIf='globalData.selectedCard || this.createCard' [card]='globalData.selectedCard'></create-card>

<app-inicio (modCardEvent)="onModify($event)" ></app-inicio>
<div class="vertical-menu">
  <button class="green" (click)='newCardMenu(true)'>New card</button>
  <button>Import</button>
  <button class="blue" (click)='exportDeck()'>Export</button>
  <button>Stats</button>
  <button>Quiz</button>
</div>



<!-- Footer -->
<footer>

</footer>

<router-outlet></router-outlet>
