.container-card-creation {
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-content: space-evenly;

    background-color: var(--backgroundLight);
    border-radius: 1em;
    border: 0.1em solid var(--foreground);
    padding: 1em;
}

.container-card-creation > * {
    margin: .5em;
}

.form-countainer {
    min-width: 10em;
    width: 100%;
}

.form-field {
    margin: 1em 0 1em 0;
    border-radius: 1em;
}

.form-field * {
    box-sizing: border-box;
    
    line-height: 3em;
    border: 0.15em solid gray;
}

.form-field label {
    border-right: 0;

    display: inline-block;
    width: 20%;

    color: var(--background);
    background-color: var(--foreground);
    border-radius: 1em 0em 0em 1em;
    text-align: center;
}

.form-field input {
    line-height: 3.5em;
    display: inline-block;

    border-radius: 0em 1em 1em 0em;
    width: 80%;
}

.horizontal-buttons {
    display: flex;
    justify-content: space-between;
}

label {
    width: 100%;
}

input {
    width: auto;
}

h3 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}