<section class="container-card-creation">
  <button (click)="close()">Close</button>

  <div class="form-container">
    <h3>Card creation</h3>
    <div class="form-field">
      <label for="question">Question </label>
      <input id="question" type="text" [formControl]='question'>
    </div>
    <div class="form-field">
      <label for="description">Description </label>
      <input id="description" type="text" [formControl]='description'>
    </div>
    <div class="form-field">
      <label for="answer">Answer </label>
      <input id="answer" type="text" [formControl]='answer'>
    </div>
    <div class="form-field">
      <label for="tags">Tags </label>
      <input id="tags" type="text" [formControl]='tags'>
    </div>
  </div>
  
  <button class="green" (click)="newCard()">Confirm</button>
  <button (click)="discard()">Discard</button>
</section>
