/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
:root {
  --background: #282a36;
  --backgroundLight: #343746;
  --backgroundLighter: #424450;
  --backgroundDark: #21222C;
  --backgroundDarker: #191A21;
  --currentLine: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;

  /* Colors */
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

h1 {
  color: var(--pink);
  font-size: 250%;
}

h2, h3 {
  color: var(--foreground);
  font-weight: lighter;
}

body, input[type="text"], button {
  color: #333;
}

/*
button {
  min-width: 5em;
  height: 3.5em;
  padding: 1em;
  margin: .5em;
  border: .2em double var(--backgroundLighter);
  border-radius: .3em;
}
*/

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--purple);
}

.greenyellow {
  background-color: var(--yellow);
}

.overlay {
  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}


@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto-Regular.ttf);
}

* { font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { 
  background-color: var(--background);
  color: var(--foreground);

  margin: 0;
  height: 100%; 
}

body {
  box-sizing: border-box;
  padding: 2em;
}
