.cards-container {
    padding: 1em;
    background-color: var(--backgroundLighter);
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 1em;
    border: 0.1em solid var(--foreground);
    max-height: 100%;
    max-width: 100%;
}

.card {
    padding: 1em;
    background-color: var(--backgroundLight);
    width: 5em;
}

/* Scrollbar for cards-container */

/* width */
.cards-container::-webkit-scrollbar {
    width: 8px;
    padding: 2px;
}
  
/* Track */
.cards-container::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
.cards-container::-webkit-scrollbar-thumb {
    background: var(--backgroundLight);
    border-radius: 5px;
    border: 1px solid #3A3D41;
}
  
/* Handle on hover */
.cards-container::-webkit-scrollbar-thumb:hover {
    background: var(--backgroundLighter);
    cursor: pointer !important;
}