@keyframes onLoad {
    0% { 
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.s-container {
    animation: 1s ease-in-out 0s 1 onLoad;
    margin: auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: space-evenly;

    background-color: var(--backgroundLight);
    border-radius: 1em;
    border: 0.1em solid var(--foreground);
    padding: 1em;
}

#header {
    display: flex;
    justify-content: space-between;
}

.chart-wrapper {
    display: flex;
}

canvas {
    width: 50% !important;
    height: auto !important;
}