<section class="s-container">

    <div id="header">
        <h3>Statistics</h3>
        <fa-icon style="color: var(--red);" [icon]="faTimes" (click)="close()"></fa-icon>
    </div>

    <div class="chart-wrapper">
        <line-chart></line-chart>
        <pie-chart></pie-chart>
    </div>

    <div class="practice-time">
        <span>Number of cards: </span>
        <span>{{numCards}}</span>
        <br/>

        <span>Total practice time :</span>
        <span>{{time* 1000 | date:'H:mm:ss':'UTC'}}</span>
        <br/>
    </div>

</section>
