<section class="s-container">
    <div>
        <div id="header">
            <h3>Statistics</h3>
            <fa-icon style="color: var(--red);" [icon]="faTimes" (click)="close()"></fa-icon>
        </div>
        <line-chart></line-chart>
        <pie-chart></pie-chart>
        <div class="chart-wrapper">
            
            <!--
          <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>-->
        </div>
    
        <div class="practice-time">
            <span>Total practice time</span>
            <br>
            <span>{{getPracticeTime(time)}}</span>
        </div>
    </div>
</section>


